* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1366px;
  font-family: "Gilroy", "serif";
  color: #242424;
  background-color: white;
}

.overexposure__form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 525px;
  padding: 30px 40px;
  box-shadow: 0 0 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.overexposure-form__title {
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  color: #b3b3b3;
}

.overexposure-form__delimeter {
  height: 1px;
  margin-top: 19px;
  border: none;
  background-color: #eebf3a;
}

.overexposure-form__text {
  max-width: 368px;
  margin-top: 18px;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6b6b6b;
}

.overexposure-form__label {
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}

.label-full-name {
  margin-top: 34px;
}

.label-phone {
  margin-top: 16px;
}

.label-phone-warning {
  margin-top: 2px;
  font-weight: normal;
  color: #b3b3b3;
}

.label-remarks {
  margin-top: 22px;
}

.overexposure-form__input {
  margin-top: 2px;
  padding: 8px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #474747;
}

.overexposure-form__input:hover {
  border: 1px solid #ffc41e;
}

.overexposure-form__input:focus {
  outline: none;
  border: 1px solid #ffc41e;
  box-shadow: 0 0 0 2px rgba(255, 196, 30, 0.25);
}

.overexposure-form__input:disabled {
  background-color: #f2f2f2;
}

.overexposure-form__input:invalid {
  border: 1px solid #cf2835;
}

.overexposure-form__input:invalid:hover {
  border: 1px solid #cf2835;
  box-shadow: 0 0 0 2px rgba(207, 40, 53, 0.25);
}

input::placeholder {
    color: #6b6b6b;
}

input:disabled::placeholder {
  color: #b3b3b3;
}

.overexposure-form__textarea {
  resize: none;
  height: 76px;
  margin-top: 2px;
  padding: 8px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #474747;
}

.overexposure-form__textarea:hover {
  border: 1px solid #ffc41e;
}

.overexposure-form__textarea:focus {
  outline: none;
  border: 1px solid #ffc41e;
  box-shadow: 0 0 0 2px rgba(255, 196, 30, 0.25);
}

.overexposure-form__textarea:disabled {
  background-color: #f2f2f2;
}

textarea::placeholder {
    color: #6b6b6b;
}

textarea:disabled::placeholder {
  color: #b3b3b3;
}

.overexposure-form__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.overexposure-contacts__text {
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}

.overexposure-contacts__link {
  text-decoration: none;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}

.overexposure-contacts__link:focus {
  outline: 2px solid rgba(255, 196, 30, 0.25);
  box-shadow: 0 0 0 1px #ffc41e;
}

.overexposure-form__thanks {
  margin-top: 19px;
}

.overexposure-thanks__text {
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b3b3b3;
}

.overexposure-thanks__text:nth-child(n+2) {
  margin-top: 6px;
}

.overexposure-form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.overexposure-button__submit {
  width: 168px;
  height: 42px;
  padding: 0 10px;
  border: none;
  border-radius: 58px;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  background-color: #fbc832;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.overexposure-button__submit:hover {
  box-shadow: 0 2px 4px #cccccc;
  background-image: radial-gradient(circle, #ffdf86 20%, transparent 20%);
  color: black;
  animation: buttons--animation-hover 0.3s forwards;
  transition: box-shadow 0.3s;
}

.overexposure-button__submit:active {
  box-shadow: none;
  background-image: radial-gradient(circle, #ffbb0c 20%, transparent 20%);
  color: black;
  animation: buttons--animation-active 0.3s forwards;
}

.overexposure-button__submit:disabled {
  background-color: #ffe28e;
  color: #6b6b6b;
}

.overexposure-button__submit:focus {
  outline: none;
}

.overexposure-button__submit:focus-visible {
  border: 3px solid #6b6b6b;
}

.overexposure-button__cancel {
  width: 143px;
  height: 42px;
  padding: 0 10px;
  border: 2px solid #ffc41e;
  border-radius: 58px;
  font-family: "Gilroy", "Arial", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  background-color: unset;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.overexposure-button__cancel:hover {
  border: 3px solid #ffbc00;
  box-shadow: 0 2px 4px #cccccc;
  background-image: radial-gradient(circle, #ffffff 20%, transparent 20%);
  color: black;
  animation: buttons--animation-hover 0.3s forwards;
  transition: box-shadow 0.3s;
}

.overexposure-button__cancel:active {
  border: 3px solid #ffbc00;
  box-shadow: none;
  background-image: radial-gradient(circle, rgba(255, 196, 30, 0.2) 20%, transparent 20%);
  color: #242424;
  animation: buttons--animation-active 0.3s forwards;
}

.overexposure-button__cancel:disabled {
  border: 3px solid #b3b3b3;
  background-color: unset;
  color: #6b6b6b;
}

.overexposure-button__cancel:focus {
  outline: none;
}

.overexposure-button__cancel:focus-visible {
  border: 3px solid #6b6b6b;
}